@unocss preflights;
@unocss default;

.fairys-valtio-form-item-label.show-colon::after {
  content: ':';
  display: inline-block;
  text-align: center;
  margin: 0;
  margin-inline-end: 0.1rem;
  margin-inline-start: 0.1rem;
  box-sizing: border-box;
}

.fairys-valtio-form-item-label.required::before {
  content: '*';
  color: red;
  display: inline-block;
  margin-inline-end: 0.2rem;
  box-sizing: border-box;
}

.fairys-valtio-form-layout.fairys-valtio-form-layout-all-col-span {
  grid-column: 1 / -1;
}

.fairys-valtio-form-layout.fairys-valtio-form-layout-box-shadow {
  box-shadow: 0 6px 16px -8px #00000014, 0 9px 28px #0000000d, 0 12px 48px 16px #00000008;
}

.fairys-valtio-form-layout + .fairys-valtio-form-layout {
  margin-top: 12px;
}

.fairys-valtio-form-layout-last-item-no-border
  > .fairys-valtio-form-layout-body
  > .fairys-valtio-form-item:last-child:not(.fairys-valtio-form-item-invalid-border-red),
.fairys-valtio-form-layout-last-item-no-border
  > .fairys-valtio-form-layout-body
  > .fairys-valtio-form-item:last-child
  > .fairys-valtio-form-item-container
  > .fairys-valtio-form-item-body:not(.fairys-valtio-form-item-invalid-border-red) {
  border-bottom: 0px;
}

.fairys-valtio-form-item-invalid-border-red {
  border-bottom-color: red !important;
}

.fairys-valtio-form-item-invalid-text-red > .fairys-valtio-form-item-container > .fairys-valtio-form-item-label,
.fairys-valtio-form-item-invalid-text-red
  > .fairys-valtio-form-item-container
  > .fairys-valtio-form-item-body
  > .fairys-valtio-form-item-body-input {
  color: red !important;
}
